* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

/* HEADER START */

.main-header {
  background-color: white;
  color: white;
  padding: 2rem 0;
}

.main-header__nav .header-h1 {
  color: #42A5F5;
  font-size: 25px;
}

.main-header__nav h1 span {
  color: #7E57C2;
}

.main-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  position: relative;
}

.main-header__secret-menu {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  max-width: 20rem;
  background-color: #E8EAF6;
  border-radius: 10px;

  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
}

.secret-menu-js {
  max-height: 350px;
  
}

.main-header__secret-menu .secret-menu__img img {
  width: 100px;
  height: 100x;
  object-fit: contain;
  border-radius: 50%;

  margin-bottom: 5px;
}

.main-header__top-header {
    padding: 15px;
}

.secret-menu__sub-info small {
  display: block;
  color: black;
  line-height: 20px;
}

.secret-menu__sub-info small:hover {
  color: purple;
}

.secret-menu-hr {
  height: 1px;
  border: none;
  background-color: #212121;
  opacity: .3;
  border-radius: 6px;
  width: 55%;

  margin: 10px auto;
}

.secret-menu__info {
    margin: 30px 0 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.secret-menu__info .fa-brands {
    color: wheat;
    background-color: black;
    padding: 8px;
    border-radius: 50%;

    transition: all .5s ease;
}

.secret-menu__info .fa-x-twitter:hover {
    color: #42A5F5;
    background-color: white;

    transform: translateY(-5px);
}

.secret-menu__info .fa-linkedin-in:hover {
    color: #0D47A1;
    background-color: white;

    transform: translateY(-5px);
}

.secret-menu__info .fa-github:hover {
    color: #212121;
    background-color: white;

    transform: translateY(-5px);
}

/* Main Content */
.main-content {
    width: 100%;
    margin-top: 50px;
}

.main-content__section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    gap: 50px;
}

/* Left Side */
.left-container {
    flex-basis: 25%;

    border-right: 1px solid gray;
    height: 100%;
    padding-left: 16rem;
}

.left-container .left-container__cat-btn button {
    display: block;
    margin: 30px 0 0 0;
}

.left-container .left-container__cat-h1 {
    margin-top: 50px;
    font-size: 25px;
}

.left-container__cat-btn .btn {
    border: none;
    outline: none;
    padding: 10px;
    width: 120px;
    border-radius: 10px;
    cursor: pointer;
}

.left-container__cat-btn .btn-primary {
    background-color: purple;
    color: white;
}

.left-container__cat-btn .btn-secondary {
    background-color: gray;
    color: white;
}

/* Right Side */
.right-container {
    flex-basis: 70%;

    height: 100%;
}

.right-container .righ-container__h1 {
    margin-top: 50px;
    font-size: 25px;
}

.right-container__input_form form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.form-btn-add {
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
}

.right-container__input_form form {
    display: flex;
    gap: 10px;
}

.input-add {
    background-color: gray;
    width: 500px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.right-container__hr {
    margin: 5px 0 30px 0;
    border: none;
    height: 1px;
    background-color: red;
    width: 50%;
}

.todo-lists__ul-main .ul-main__li-submain {
    display: flex;
    align-items: center;

    width: 50%;
    background-color: gray;
    padding: 15px;
    margin-bottom: 10px;

    gap: 10px;
}

.ul-main__li-submain .li-submain__text {
    flex: 1;
}

.ul-main__li-submain .delete-btn {
    scale: 0;
    transition: all .5s ease;
}

.ul-main__li-submain:hover .delete-btn {
    scale: 1;
}

.right-container__todo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    margin-top: 40px;
}

.todo-lists__ul-main .ul-main__li-submain[item-completed] .li-submain__text {
    color: white;
    text-decoration: line-through;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.no-todo-items-alert {
    background-color: #FFEBEE;
    width: 50%;
    padding: 20px;
}

.btn-danger {
    /* background-color: #FCE4EC; */
    background-color: #EF9A9A;
    color: black;
    padding: 15px;
    cursor: pointer;
}