* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

/* HEADER START */

.main-header {
  background-color: white;
  color: white;
  padding: 2rem 0;
}

.main-header__nav .header-h1 {
  color: #42a5f5;
  font-size: 25px;
}

.main-header__nav h1 span {
  color: #7e57c2;
}

.main-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  position: relative;
}

.main-header__secret-menu {
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  max-width: 20rem;
  background-color: #e8eaf6;
  border-radius: 10px;

  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
}

.secret-menu-js {
  max-height: 350px;
}

.main-header__secret-menu .secret-menu__img img {
  width: 100px;
  height: 100x;
  object-fit: contain;
  border-radius: 50%;

  margin-bottom: 5px;
}

.main-header__top-header {
  padding: 15px;
}

.secret-menu__sub-info small {
  display: block;
  color: black;
  line-height: 20px;
}

.secret-menu__sub-info small:hover {
  color: purple;
}

.secret-menu-hr {
  height: 1px;
  border: none;
  background-color: #212121;
  opacity: 0.3;
  border-radius: 6px;
  width: 55%;

  margin: 10px auto;
}

.secret-menu__info {
  margin: 30px 0 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.secret-menu__info .fa-brands {
  color: wheat;
  background-color: black;
  padding: 8px;
  border-radius: 50%;

  transition: all 0.5s ease;
}

.secret-menu__info .fa-x-twitter:hover {
  color: #42a5f5;
  background-color: white;

  transform: translateY(-5px);
}

.secret-menu__info .fa-linkedin-in:hover {
  color: #0d47a1;
  background-color: white;

  transform: translateY(-5px);
}

.secret-menu__info .fa-github:hover {
  color: #212121;
  background-color: white;

  transform: translateY(-5px);
}

/* Main Content */
.main-content {
  width: 100%;
  margin-top: 50px;
}

.main-content__section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65vh;
  gap: 50px;
}

/* Left Side */
.left-container {
  flex-basis: 25%;

  border-right: 1px solid gray;
  height: 100%;
  padding-left: 16rem;
}

.left-container .left-container__cat-btn button {
  display: block;
  margin: 30px 0 0 0;
}

.left-container .left-container__cat-h1 {
  margin-top: 50px;
  font-size: 25px;
}

.left-container__cat-btn .btn {
  border: none;
  outline: none;
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.left-container__cat-btn .btn:hover {
  color: white;
  background-color: #ba68c8;
  transform: translateY(-5px);
}

.left-container__cat-btn .btn-primary {
  background-color: #ba68c8;
  color: white;
}

.left-container__cat-btn .btn-secondary {
  background-color: #e1bee7;
  color: white;
}

/* Right Side */
.right-container {
  flex-basis: 70%;

  height: 100%;
}

.right-container .righ-container__h1 {
  margin-top: 50px;
  font-size: 25px;
}

.right-container__input_form form {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 10px;
}

.form-btn-add {
  border: none;
  outline: none;
  padding: 1.5rem 3rem 1.5rem 3rem;
  cursor: pointer;
  background-color: #aed581;
  color: white;
  border-radius: 0.5rem;
}

.form-btn-add:hover {
  background-color: #dcedc8;
  color: black;
}

.input-add {
  background-color: #e8f5e9;
  width: 50rem;
  border: none;
  outline: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.right-container__hr {
  margin: 5px 0 30px 0;
  border: none;
  height: 1px;
  background-color: gray;
  width: 66%;
}

.todo-lists__ul-main .ul-main__li-submain {
  display: flex;
  align-items: center;

  width: 66%;
  padding: 1.8rem;
  margin-bottom: 10px;
  border-radius: 10px;

  background-color: #efebe9;

  gap: 10px;
}

.todo-lists__ul-main .ul-main__li-submain:hover {
  background-color: #eceff1;
}

.ul-main__li-submain .li-submain__text {
  flex: 1;
  font-size: 16px;
}

.ul-main__li-submain .delete-btn {
  scale: 0;
  transition: all 0.5s ease;
  color: red;
  cursor: pointer;
}

.ul-main__li-submain:hover .delete-btn {
  scale: 1;
  font-size: 20px;
}

.ul-main__li-submain .li-submain__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid green;
  cursor: pointer;
}

.ul-main__li-submain .li-submain__input:checked {
  background-color: #aed581;
  border: 1px solid white;
}

.right-container__todo-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 66%;
  margin-top: 40px;
}

.todo-lists__ul-main .ul-main__li-submain[item-completed] .li-submain__text {
  color: red;
  text-decoration: line-through;
}

.d-flex {
  display: flex !important;
}

.d-none {
  display: none !important;
}

.no-todo-items-alert {
  background-color: #ffebee;
  width: 66%;
  padding: 25px;
  border-radius: 10px;
}

.btn-danger {
  background-color: #ef9a9a;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.warning-alert {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.warning-alert .success,
.warning-alert .fail {
  padding: 15px;
  width: 18rem;
  text-align: center;
  color: white;
  border-radius: 10px;

  margin-bottom: 5px;

  display: none;
}

.success {
  background-color: #9ccc65;
}

.fail {
  background-color: #ef5350;
}

.todo-info__length .length-todo,
.todo-info__complete p {
  color: gray;
}

/* Mobile View */
@media (max-width: 576px) {
  .main-content {
    margin-top: 0;
  }
  .cat-header-div {
    width: 95vw;
    text-align: start;
}
  .cat-header-div2 {
    width: 95vw;
    text-align: start;
}
  .main-content__section {
    flex-direction: column;
    height: auto;
    gap: 1px;
  }

  .left-container {
    border-right: 0;
    border-bottom: 1px solid gray;
    padding-left: 0;
    flex-direction: column;
    gap: 0;
    flex-basis: 100%;
  }

  .left-container .left-container__cat-h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 25px;
    align-self: flex-start;
  }

  .left-container__cat-btn {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .left-container .left-container__cat-btn button {
    margin: 30px 0 20px 0;
  }

  .left-container__cat-btn .btn {
    padding: 8px;
    width: 100px;
  }

  .right-container {
    flex-basis: 100%;
    height: 100%;
  }

  .right-container .righ-container__h1 {
    margin-top: 20px;
    font-size: 25px;
    text-align: start;
  }

  .right-container__input_form form {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .right-container__hr {
    width: 100%;
  }

  .input-add {
    width: 100%;
    padding: 1.4rem;
  }

  .form-btn-add {
    padding: 1rem 3rem 1rem 3rem;
  }

  .right-container__todo-info {
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  .todo-lists__ul-main .ul-main__li-submain {
    width: 100%;
    padding: 1rem;
  }

  .ul-main__li-submain .li-submain__text {
    font-size: 11px;
  }

  .ul-main__li-submain .delete-btn {
    scale: 1;
  }

  .ul-main__li-submain .li-submain__input {
    width: 15px;
    height: 15px;
  }

  .btn-danger {
    padding: 10px;
  }

  .no-todo-items-alert {
    width: 100%;
    padding: 25px;
  }
}
